/*common code*/

	video{width: 100%}

	a{text-decoration: none;}

	.hover:hover{transform: scale(0.95);}

	.fa{padding: 5px; font-size: 25px; width: 50px; text-decoration: none; transition: transform 0.3s, background-color 0.3s;}

	.font{text-shadow: 2px 2px red; font-family: 'Oleo Script Swash Caps', cursive}

	p{font-size: 15px; font-weight: 500; color: white;}

	.image{width: 215px; height: 280px; border-radius: 8px; border: 2px solid white;}

	body{background-image: url("images/background/bg-1.jpg");background-attachment: fixed; background-size: cover;}

	.mod2{border: 2px solid lightgrey; border-radius: 10px; width: 280px ; height: 420px; background-color: rgba(0, 0, 0, 0.888);}



	
/*home page*/

	h2.Head1{text-shadow: 2px 2px red; font-family: cursive; font-weight: 600; background-color: rgba(0, 0, 0, 0.89); border-radius: 10px;}

	.margin-top{ margin-top: 25px;}

	img.mod1{height: 610px; width: 100%;}

	.myslides {
		position: absolute;
		padding: 12px;
		border-radius: 20px;
		opacity: 0;  /* Start as transparent */
		transition: opacity 1s ease; /* Smooth fade effect */
	}
	
	.myslides.active {
		opacity: 1;  /* Fade in */
	}



	

/* pc-games */

	.adjust_image{height: 500px; width: 100%;}

	.card2{overflow: hidden; position: relative; cursor: pointer;}		

	.card2:hover .details2{opacity: 1; height: 100%;}

	.details2{color: white;
		position: absolute;
		left: 7px;
		bottom:0;
		width: 281px;
		height: 0;
		opacity: 0;
		text-align: justify;
		padding: 0px 10px;
		background: rgba(0, 0, 0, 0.9);
		transition: 0.4s ease;}





/* playstation */

	/* .image-2{width: 280px; height: 380px; border-radius: 8px; border: 2px solid white;} */
	
	/* .card {	overflow: hidden;
		position: relative;
		cursor: pointer;
		border-radius: 20px;}		

	.card:hover .details{opacity: 1; height: 100%;}

	.details{color: white;
		position: absolute;
		left: 0;
		bottom:0;
		width: 100%;
		height: 0;
		opacity: 0;
		background: rgba(0, 0, 0, 0.9) ;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s ease;} */
	



/* popular-games page */

	.card1{overflow: hidden; position: relative; cursor: pointer;}		

	.card1:hover .details1{opacity: 1; height: 100%;}

	.details1{color: white;
		position: absolute;
		left: 7px;
		bottom:0;
		width: 281px;
		height: 0;
		opacity: 0;
		background: rgba(0, 0, 0, 0.9) ;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s ease;}




/*contact page*/

	h2.contact-heading{color: dodgerblue;}

	.body7{	background-image:url("images/background/bg7.jpg");
			background-size: cover;
			background-attachment: fixed;
			background-position: left;}

	/* Interactive Input Fields */
	input[type="text"],
    input[type="email"],
    input[type="number"],
	input[type="password"],
    textarea {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            transition: all 0.3s ease;
        }		

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="password"]:focus,
	textarea:focus {
			border-color: #ff1493;
			box-shadow: 0 0 10px 0 #ff1493;
		}
	
	/* button modification */
	.button-modified{
		margin: 10px auto;
		font-weight: 600;
		border: 2px solid dodgerblue;
	}

	button[type="submit"]:hover{
		border-color: #ff1493;
		box-shadow: 0 0 15px 0 #ff1493;
	}




/*about page*/

	h2.about-heading{color: dodgerblue;}

	h3.Head9{text-shadow: 2px 2px black; font-family: 'Oleo Script Swash Caps', cursive}

	.body8{	background-image: url("images/background/bg8.jpg");
			background-attachment: fixed;
			background-size: cover;}	




/*login page*/

	h2.login-heading{color: dodgerblue;}

	.body9{	background-image: url("images/background/bg9.jpg");
			background-attachment: fixed;
			background-size: cover;}




/*sign-up page*/

	h2.sign-up-heading{color: dodgerblue;}

	.mod4{width: 550px; padding-right: 100px; padding-top: 50px}

	.form-font{
		font-size: 13px;
	}

	.body10{background-image: url("images/background/bg10.jpg");
			background-attachment: fixed;
			background-size: cover;
			background-position:left;}

	.button-modified-1{
			font-weight: 600;
			border: 2px solid dodgerblue;
		}

	button[type="reset"]:hover{
			border-color: #ff1493;
			box-shadow: 0 0 15px 0 #ff1493;
		}
		
	.footer-modified {
		margin-top: auto;
		padding-top: 10px;
		background-color: black;
		color: white;
		text-align: center;
	}